*,
*::after,
*::before
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
div:nth-of-type(1)
{
  text-align: center;
  height: 7vw;
  font-size: clamp(1rem,2rem,3rem);
  margin: 0;
  font-weight: 700;
}
div:nth-of-type(1) > p
{
  padding-top: 20px;
}
div:nth-of-type(2)
{
  width: 100vw;
  height: 93vh;
  display: flex;
  flex-wrap: wrap;
}
div:nth-of-type(2) > img
{
  width: 50vw;
  padding-top: 10px;
  padding-left: 10px;
  
}